{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Appliances</h1>
    <form action="/appliances" method="post">
        <input type="text" name="appliance_name" placeholder="Appliance Name" required>
        <input type="text" name="appliance_type" placeholder="Type" required>
        <input type="text" name="appliance_brand" placeholder="Brand" required>
        <input type="number" step="any" name="appliance_weight" placeholder="Weight" required>
        <input type="number" name="appliance_voltage" placeholder="Voltage" required>
        <input type="number" step="any" name="appliance_price" placeholder="Price" required>
        <input type="submit" value="Add Entry">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Weight</th>
            <th>Voltage</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for item in appliances_items %}
            <tr>
                <td>{{ item.appliance_id }}</td>
                <td>{{ item.appliance_name }}</td>
                <td>{{ item.appliance_type }}</td>
                <td>{{ item.appliance_brand }}</td>
                <td>{{ item.appliance_weight }} kg</td>
                <td>{{ item.appliance_voltage }} V</td>
                <td>₱ {{ item.appliance_price }}</td>
                <td>
                    <a href="/delete/appliances/{{item.appliance_id}}">Delete</a>
                    <br>
                    <a href="/update/appliances/{{item.appliance_id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
