{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align:center">Create User</h1>
    <div class="container">
        <br/>
        <div class="container" style="padding-left: 480px">
            <form action="/users" method="post">
                <button type='button' class="btn btn-danger" onclick="window.history.back();">Back</button>
                <input type="text" name="user_name" placeholder="Username" required>
                <input type="submit" class="btn btn-outline-success btn-sm" value="Register">
            </form>
        </div>
    </div>
</div>
{% endblock %}
