{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Furniture Inventory</h1>
    <div class="container">
        <br/>
        <div class="container" style="padding-left: 200px">
            <form action="/furniture" method="post">
                <a type='button' class="btn btn-danger" href="/admin-dashboard">Back</a>
                <input type="text" name="furniture_name" placeholder="Furniture Name" required>
                <input type="text" name="furniture_type" placeholder="Furniture Type" required>
                <input type="number" name="furniture_quantity" placeholder="Quantity" required>
                <input type="number" step="any" name="furniture_weight" placeholder="Weight" required>
                <input type="number" step="any" name="furniture_price" placeholder="Price" required>
                <input type="submit" class="btn btn-outline-success btn-sm" value="Add Entry">
            </form>
        </div>
    </div>
    <hr/>
    <table class="table">
        <tr>
            <th class="table-dark">ID</th>
            <th class="table-dark">Name</th>
            <th class="table-dark">Type</th>
            <th class="table-dark">Quantity</th>
            <th class="table-dark">Weight</th>
            <th class="table-dark">Price</th>
            <th class="table-dark">Actions</th>
        </tr>
        {% for item in furniture_items %}
            <tr>
                <td>{{ item.furniture_id }}</td>
                <td>{{ item.furniture_name }}</td>
                <td>{{ item.furniture_type }}</td>
                <td>{{ item.furniture_quantity }}</td>
                <td>{{ item.furniture_weight }} kg</td>
                <td>₱ {{ item.furniture_price }}</td>
                <td>
                    <div class="container">
                        <a class="btn btn-primary btn-sm" href="/delete/furniture/{{item.furniture_id}}">Delete</a>
                        <a class="btn btn-primary btn-sm" href="/update/furniture/{{item.furniture_id}}">Update</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
