{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align:center">Inventory Management</h1>
    <table>
        <tr>
            <th>Rank</th>
            <th>Category</th>
            <th>Entries</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.category }}</td>
                <td>{{ category.count }}</td>
                <td>
                    <a href="/{{ category.category|lower }}">View</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
