{% extends 'base.html' %}

{% block head %}
<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; 
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

</style>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align:center">Update Shoes</h1>
    <div class="flex">
        <form action="/update/furniture/{{ item.furniture_id }}" method="post">
            <button type='button' class="btn btn-danger" onclick="window.history.back();">Back</button>
            <input type="text" name="shoes_name" value="{{ item.shoes_name }}" required>
            <input type="number" name="shoes_quantity" value="{{ item.shoes_quantity}}" required>
            <input type="text" name="shoes_brand" value="{{ item.shoes_brand }}" required>
            <input type="number" step="any" name="shoes_size" value="{{ item.shoes_size }}" required>
            <input type="text" step="any" name="shoes_gender" value="{{ item.shoes_gender }}" required>
            <input type="text" step="any" name="shoes_color" value="{{ item.shoes_color }}" required>
            <input type="number" step="any" name="shoes_price" value="{{ item.shoes_price }}" required>
            <input type="submit" class="btn btn-outline-success btn-sm" value="Update">
        </form>
    </div>
</div>
{% endblock %}