{% extends 'base.html' %}

{% block head %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block body %}
<button type='button' class="btn btn-danger" onclick="window.history.back();">Back</button>
<div class="container text-center">
    <h1>User Purchases</h1>
    <table>
        <tr>
            <th class="table-dark">Category</th>
            <th class="table-dark">Item Name</th>
            <th class="table-dark">Price</th>
        </tr>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.category }}</td>
            <td>{{ purchase.item_name }}</td>
            <td>${{ "%.2f"|format(purchase.item_price) }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">No purchases found.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
